img{
  float:right;
    max-width: 400px;
}
.C{
    display: inline-block;
}
li{
  float:left;
 
  text-align: center;
  padding: 16px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aquamarine;
}

